.footer{
    margin: 0 auto;
    .wrap{
        position: relative;
        max-width: 1450px;
        margin: 0 auto;
        // padding-right: -10px;
        left: 45%;
        top: 50%;
        // transform: translate(-50%,-50%);
        // transform: translateX(50%);
    }
}